@charset "utf-8";
.c_title {
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #EEEEEE;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
}
.c_title .title_info {
	margin-top: 10px;
	text-align: right;
}
.c_title .title_h1 {
	font-size: 24px;
	line-height: 36px;
	font-weight: 500;
}

.content_text {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 700px;
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;
    font-family: tahoma,arial,"Hiragino Sans GB","Microsoft YaHei",sans-serif;
}
