@charset "utf-8";
.panel-top {
	height: 12px;
}

.adver-panel {
	margin-bottom: 30px;
}
.adver-panel .adver-box {
	background-color: #FFFFFF;
	border-radius: 3px;
	overflow: hidden;
}
.adver-panel .adver-box img {
	width: 100%;
}


.content-main {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 0px;
	position: relative;
}
.content-left {
	margin-right: 30%;
}
.content-right {
	float: right;
	width: 30%;
}
.article-box {
	margin: 0px;
	padding: 0px;
}

.article-box h2 {
	font-size: 15px;
	line-height: 20px;
	font-weight: bold;
	color: #333333;
	margin-bottom: 10px;
}
.article-box .item-wrap {
	width: 50%;
	float: left;
}

.article-box .item-list {
	margin: 0px;
	padding: 0px;
}
.article-box .item-wrap .item-list {
	margin-right: 20px;
}
.article-box .item-list li {
	padding-bottom: 5px;
	padding-top: 5px;
	padding-left: 15px;
	background-image: url(images/li_icon.gif);
	background-repeat: no-repeat;
	background-position: left 12px;
	position: relative;
}
.article-box .item-list li a {
	font-size: 13px;
	line-height: 1.6;
	font-weight: normal;
	text-decoration: none;
	height: 22px;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	display: block;
	margin-right: 50px;
}
.article-box .item-list li a:hover {
	color: #CC0033;
}
.article-box .item-list li em {
	font-size: 12px;
	font-style: normal;
	color: #999999;
	height: 20px;
	width: 40px;
	position: absolute;
	top: 5px;
	right: 0px;
	text-align: right;
}

.category_box {
	margin-bottom: 20px;
	padding-bottom: 8px;
}
.category_box a {
	display: inline-block;
	font-size: 14px;
	line-height: 28px;
	margin-right: 10px;
	text-decoration: none;
	color: #666666;
	background-color: #EEEEEE;
	border-radius: 15px;
	padding-right: 12px;
	padding-left: 12px;
}
.category_box a:hover {
	color: #333333;
}
.category_box a.current {
	font-weight: bold;
	color: #FFFFFF;
	background-color: #333333;
}
.menus_box {
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 2px;
	margin-bottom: 20px;
	border: 1px dashed #EEEEEE;
}
.menus_box li {
	float: left;
	width: 193px;
	background-color: #F5F5F5;
	height: 40px;
	margin-right: 2px;
	margin-bottom: 2px;
	overflow: hidden;
}
.menus_box li.current {
	background-color: #EFEFEF;
}
.menus_box li a {
	font-size: 14px;
	line-height: 40px;
	display: block;
	color: #333333;
	text-align: center;
	font-weight: 500;
}
.menus_box li a:hover {
	color: #CC0000;
	background-color: #F9F9F9;
}
