@charset "utf-8";
.apps_box {
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 15px;
	
}
.app_item_link:active .app_item {
	filter:alpha(Opacity=60);
	-moz-opacity:0.6;
	opacity: 0.6; 
}
.app_item {
	color: #FFFFFF;
	background-color: #19a4fc;
	float: left;
	height: 100px;
	width: 100px;
	margin-right: 15px;
	border-radius: 5px;
	box-shadow: 0 5px 10px 0 rgba(0,0,1,.1);
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}
.app_item .ai_icon {
	height: 50px;
	font-size: 26px;
	line-height: 50px;
	margin-left: 6px;
}
.app_item .ai_title {
	margin: 7px;
	font-size: 13px;
	line-height: 18px;
}
.app_item .ai_progress {
	position: absolute;
	height: 5px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
}
.app_item .ai_progress .aip_used {
	background-color: #666666;
	height: 5px;
	width: 0%;
	left: 0px;
	top: 0px;
}
.app_item .ai_option {
	position: absolute;
	height: 25px;
	width: 50px;
	top: 3px;
	right: 3px;
	overflow: hidden;
	text-align: right;
}
.app_item .ai_option .aio_icon {
	height: 25px;
}

.locked {
	color: #333333;
	background-color: #CDCDCD;
}
.blank {
	color: #AAAAAA;
	background-color: #EEEEEE;
	box-shadow: 0 2px 3px 0 #DDDDDD;
}
.green {
	color: #FFFFFF;
	background-color: #3eb94e;
}
.yellow {
	color: #333333;
	background-color: #FFFF00;
}
.red {
	color: #FFFFFF;
	background-color: #CC0000;
}
